{% extends 'meddata/main.html' %}
{% load my_tags %}
{% block content %}

<section class="py-0 text-center container">
    <div class="row py-lg-5">
        <div class="col-lg-12 col-md-8 mx-auto">
            <h1 class="fw-light">Запись на услуги</h1>
            {%if user.is_authenticated is False %}
            <h1 class="fw-light">Для записи необходима авторизация</h1>
            {% endif %}
        </div>
    </div>
</section>

<table class="table">
    <thead>
    <tr>
        <th scope="col">Направление</th>
        <th scope="col">Услуга</th>
        <th scope="col">Врач</th>
        <th scope="col">Дата</th>
        <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
    {% for appointment in object_list %}
    {%if appointment.client is NULL or user.is_staff %}
    <tr>
        <td>{{ appointment.med_branch}}</td>
        <td>{{ appointment.med_service}}</td>
        <td>{{ appointment.doctor}}</td>
        <td>{{ appointment.end_date}}</td>
        {%if user.is_authenticated %}
        <td><div class="btn-group">
                            <a class="btn btn-dark rounded-pill px-3"
                               href="{% url 'meddata:appointment_update' appointment.pk %}"
                               role="button">Записаться</a></td>
        {%if appointment.client == user or appointment.doctor == user or user.is_staff %}
        <td><div class="btn-group">
                            <a class="btn btn-dark rounded-pill px-3"
                               href="{% url 'meddata:appointment' appointment.pk %}"
                               role="button">Подробно</a></td>
        {% endif %}
        {%if user.is_staff %}
                <td><div class="btn-group">
                            <a class="btn btn-dark rounded-pill px-3"
                               href="{% url 'meddata:appointment_delete' appointment.pk %}"
                               role="button">Удалить</a></td>
        {% endif %}
        {% endif %}
        {% endif %}
    </tr>
    {% endfor %}
    </tbody>
</table>


{% endblock %}
