{% extends 'meddata/main.html' %}
{% load my_tags %}
{% block content %}

<section class="py-1 text-center container">
    <div class="row py-lg-5">
        <div class="col-lg-12 col-md-8 mx-auto">
            <h1 class="fw-light">Наши врачи</h1>
        </div>
    </div>
</section>
{% for doctor in object_list %}

<div class="card mb-6" style="max-width: 1140px;">
    <div class="row g-0">
        <div class="col-md-4">
            <img src="{{ doctor.image | media_filter}}" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h2 class="card-title">{{ doctor.surname}} {{doctor.name}} {{doctor.patronymic }}</h2>
                <p class="card-text">Направление: {{ doctor.med_branch.name | truncatechars:100 }}</p>
                <p class="card-footer"></p>
                {%if user.is_staff %}
                <div class="btn-group">
                    <a class="btn btn-dark rounded-pill px-2" href="{% url 'meddata:doctor_update' doctor.pk %}"
                       role="button">Редактировать</a>
                    <a class="btn btn-dark rounded-pill px-2" href="{% url 'meddata:doctor' doctor.pk %}"
                       role="button">Подробно</a>
                    <a class="btn btn-dark rounded-pill px-2" href="{% url 'meddata:doctor_delete' doctor.pk %}"
                       role="button">Удалить</a>
                </div>
                {% else %}
                <a class="btn btn-dark rounded-pill px-2" href="{% url 'meddata:doctor' doctor.pk %}"
                   role="button">Узнать о вреч подробнее</a>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endfor %}

{% endblock %}
