{% extends 'meddata/main.html' %}
{% load my_tags %}
{% block content %}
<section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-12 col-md-8 mx-auto">
        <h1 class="fw-light">Данные компании</h1>
      </div>
    </div>
  </section>
<div class="container">
  <div class="row">
    <div class="col-6">
      <form class="row" method="post" enctype="multipart/form-data">
        <div class="card">
          <p class="card-text">Вы хотите удалить {{ object.name }}? </p>
          <div class="card-body">
          </div>
          <button type="submit" class="btn btn-Dark">Удалить</button>
          <a class="btn btn-dark rounded-pill px-3" href="{% url 'addinfo:comtext_list' %}" role="button">Отмена</a>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}