<div class="collapse text-bg-dark" id="navbarHeader">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-md-7 py-4">
                <h4>О нас</h4>
                <p class="text-body-secondary">Информация о клинике</p>
            </div>
            <div class="col-sm-4 offset-md-1 py-4">
                {%if user.is_authenticated %}
                <h6>Вы вошли как </h6>
                <h4> {{ user }}</h4>
                {% else %}
                <h4>Навигация</h4>
                {% endif %}
                <ul class="list-unstyled">
                    <li><a href="{% url 'meddata:home' %}" class="text-white">Главная</a></li>
                    {%if user.is_authenticated %}
                    <li><a href="{% url 'users:logout' %}" class="text-white">Выход</a></li>
                    <li><a href="{% url 'users:user_update' user.pk %}" class="text-white">Редактировать профиль</a>
                    </li>
                    <li><a href="{% url 'users:user' user.pk %}" class="text-white">Результаты</a>
                    </li>
                    {% else %}
                    <li><a href="{% url 'users:login' %}" class="text-white">Вход</a></li>
                    <li><a href="{% url 'users:register' %}" class="text-white">Регистрация</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="navbar navbar-dark bg-dark shadow-sm">
    <div class="container">
        <a href="#" class="navbar-brand d-flex align-items-center">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarHeader"
                aria-controls="navbarHeader" aria-expanded="false" aria-label="Переключить навигацию">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>